<h1>
<div class="row">
  <h1 class="col-md-12"> {{message}} </h1>
</div>  

<div class="row">
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img src= "{{picture1}}">
    </div>
    <div class="caption">
        <p> {{caption1}}</p>
    </div>
  </div>

  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img src= "{{picture2}}">
    </div>
    <div class="caption">
        <p> {{caption2}}</p>
    </div>
  </div>

  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img src= "{{picture3}}">
    </div>
    <div class="caption">
        <p> {{caption3}}</p>
    </div>
  </div>


</div>


</h1>
